body {
    text-align: center;
    font-family: Arial;
    background: #f2f2f2;
}

h1, h2 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 8px;
}

button {
    background: #0084ff;
    color: white;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #0084ff;
}
